body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #706f6f;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ff0000;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #003366;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 60px;
    padding: 10px 0; 
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    flex: 0 0 auto; /* Impede que os cards encolham ou se estiquem */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}