body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #152537;
}

header {
    background-image: url(../img/bannernew.jfif );
    background-size: cover; /* Faz com que a imagem cubra todo o header */
    background-position: center; /* Centraliza a imagem no header */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    color: rgb(255, 255, 255);
    padding: 20px 10px; /* Ajuste o padding para dar um bom espaço no header */
    text-align: center;
    position: relative;
}

.header-content {
    position: relative;
}

h1 {
    margin: 0;
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 20px;
    font-size: 1.1em;
}

#logoutBtn {
    padding: 8px 12px;
    background-color: #e94343;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutBtn:hover {
    background-color: #c93535;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #003366;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #001a33;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 15px;
    background-color: #e94343;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #c93535;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e43232c4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#sobre {
    color: white;
}

footer {
    background-color: #003366;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
    overflow: visible;
}

.card {
    background-color: #e6a8a8;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    flex-grow: 1;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 1.2em; /* Tamanho do título */
    color: #333;
    margin: 10px 0;
}

.card p {
    font-size: 0.9em; /* Tamanho menor para a descrição */
    color: #555;
    margin: 10px 0;
}

.card button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 10px;
}

.card button:hover {
    background-color: #45a049;
}